<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img src="assets/ps-logo.png" alt="Logo PlayStation">
    </div>
    <div class="menu-bar__item">
        <ul>
            <li>
                <a href="https://gabrielmorozini.com.br/">Portfólio</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/gabrielmorozini/">Linkedin</a>
            </li>
            <li>
                <a href="https://github.com/GabrilMorozini">GitHub</a>
            </li>
        </ul>
    </div>
</div>